body {
   display: flex;
   margin: 0;
}
#floors {
   display: flex;
   flex-wrap: wrap;

}
.floor{
   border-radius: 50%;
   width: 50%;
   margin-bottom: 10px;
}
#lift {
   width: 100%;
   height: 10%;
   position: absolute;
   bottom: 0;
   height: 75px;
   transition: all 1s ease-out;
}
.liftContainer {
   margin: 0 auto;
   background-color: black;
   width: 50%;
   height: 100vh;
   overflow: hidden;
   position: relative;
   height: 750px;
}
#leftDoor{
   background-color: grey;
   width: 50%;
   height: 100%;
   position: absolute;
   right: 50%;
   bottom: 0px;
   transition: all 3s ease-out;

}
.inQueue {
   background-color: red;
}
#rightDoor {
   background-color: grey;
   width: 50%;
   height: 100%;
   position: absolute;
   left: 50%;
   bottom: 0px;
   transition: all 3s ease-out;

}
.rightDoorOpen {
   animation: openRightDoor 5s linear ;
   -webkit-animation-fill-mode: forwards;
}

@keyframes openRightDoor {
   30% {
      left: 100%
   }
   70% {
      left: 100%;
   }
   100% {
      left:50%
   }
}

.leftDoorOpen {
   animation: openLeftDoor 5s linear ;
   -webkit-animation-fill-mode: forwards;
}
@keyframes openLeftDoor {
   30% {
      right: 100%
   }
   70%{
      right: 100%
   }
   100% {
      right:50%
   }
}